openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Яндекс.Расписание
  description: Яндекс.Расписание
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Список ближайших станций получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/search/:
    get:
      tags:
      - getScheduleBetweenStations
      summary: Расписание рейсов между станциями
      operationId: getScheduleBetweenStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        required: true
        schema:
          type: string
      - name: to
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Расписание между станциями получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleBetweenStations'
        "default":
          description: Все возможные ошибки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
            
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
          
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
          
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
          
    ScheduleBetweenStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegments'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    
    IntervalSegments:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/SegmentFrom'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/SegmentTo'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/SegmentFrom'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/SegmentTo'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    SegmentFrom:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
          
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    SegmentTo:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
          
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: integer
          
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer
          
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Code'
        adress:
          type: string
        logo:
          type: string
        email:
          type: string
          
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
          
    Code:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
          
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/SearchTo'
        from:
          $ref: '#/components/schemas/SearchFrom'
          
    SearchTo:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
          
    SearchFrom:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
