openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Яндекс.Расписание
  description: Яндекс.Расписание
  
paths:
  /v3.0/nearest_stations/:
    get:
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Список ближайших станций получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
        'default':
          description: Все возможные ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  /v3.0/search/:
    get:
      summary: Расписание рейсов между станциями
      operationId: getScheduleBetweenStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: станция отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: станция прибытия
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Расписание между станциями получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleBetweenStations'
        'default':
          description: Все возможные ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  /v3.0/schedule/:
    get:
      summary: Расписание рейсов по станции
      operationId: getStationSchedule
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Код станции
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Расписание станции получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationSchedule'
        'default':
          description: Все возможные ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  /v3.0/thread/:
    get:
      summary: Список станций следования
      operationId: getThreadList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки в Яндекс Расписаниях
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Список станций следований получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadList'
        'default':
          description: Все возможные ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
          
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
            
    StationSchedule:
      type: object
      properties:
        date:
          type: string
          description: Дата, на которую получен список рейсов
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          description: Список рейсов
          items:
            $ref: '#/components/schemas/Schedule'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          $ref: '#/components/schemas/Directions'
          
    ThreadList:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival_date:
          type: string
          description: Дата прибытия на станцию, указанную в параметре to
        from:
          type: string
          description: Пункт отправления, указанный в параметре from
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        stops:
          type: array
          description: Список станций следования
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
          description: Название транспортного средства
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Общее количество рейсов, удовлетворяющих условиям поиска
        limit:
          type: integer
          description: Ограничение на количество рейсов
        offset:
          type: integer
          description: Смещение относительно первого результата поиска
          
    Station:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          $ref: '#/components/schemas/Code'
        transport_type:
          type: string
        lat:
          type: number
          description: Широта
        lng:
          type: number
          description: Долгота
        distance:
          type: number
        majority:
          type: integer
        type:
          type: string
          description: Вид станции
        type_choices:
          $ref: '#/components/schemas/TypeChoises'
          
    Schedule:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
          description: Признак неточности времени отправления и времени прибытия
        days:
          type: string
          description: Дни курсирования нитки
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка
        departure:
          type: string
          description: Время отправления, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        terminal:
          type: string
          description: Терминал аэропорта
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс
      
    ScheduleDirection:
      type: object
      description: Код и название запрошенного направления рейсов
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
    
    Directions:
      type: object
      description: Коды и названия возможных направлений движения электричек по станции
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
    
    Code:
      type: object
      properties:
        express:
          type: string
          description: Код станции в системе кодирования Экспресс-3
        yandex:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        esr:
          type: string
          description: Код станции в системе кодирования ЕСР
    
    TypeChoises:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
          
    Stop:
      type: object
      properties:
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        departure:
          type: string
          description: Время отправления, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        duration:
          type: integer
          description: Время в пути между станциями (в секундах)
        stop_time:
          type: integer
          description: Продолжительность остановки (в секундах)
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
          description: Терминал аэропорта
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс
      
          
    ScheduleBetweenStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegments'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    
    IntervalSegments:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/SegmentFrom'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/SegmentTo'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/SegmentFrom'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/SegmentTo'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    SegmentFrom:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
          
    Thread:
      type: object
      description: Информация о нитке
      properties:
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
          description: Тип транспортного средства
        vehicle:
          type: string
          description: Название транспортного средства
        transport_subtype:
          oneOf:
          - type: string
          - $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          
    SegmentTo:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
          
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: integer
          
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer
          
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        adress:
          type: string
        logo:
          type: string
        email:
          type: string
          
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
          
    Codes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
          
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/To'
        from:
          $ref: '#/components/schemas/From'
          
    To:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
          
    From:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
